.create-job-section {
    margin-top: 85px;
    margin-bottom: 40px;
}

.create-job-head {
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
    
}

.create-job-body {
    border: 1px solid lightgray;
    border-top: none;
    padding: 20px;
    background-color: white;
}

.slim-border {
    margin-bottom: 20px;
    border: 2px solid lightgray;
    padding: 8px 20px;
    border-radius: 5px;
    width: 100%;
    color: gray;
    background-color: white;
}

.dropDown-section {
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    color: gray;
    padding: 0px 5px;
    margin-bottom: 20px;
}

.downArrow-icon {
    border: none;
    background-color: white;
    border-left: 1px solid gray;
}

.arrow-down {
    border: solid lightgray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.textArea {
    color: gray;
    padding: 20px;
}

.editor-textbox {
    height: 350px;
    width: 100%;
}

.red-text {
    color: red;
    margin-top: 20px;
}

.span {
    margin-left: 100px;
}

.dash-border {
    color: red;
    border: 2px dashed gray;
    width: 100%;
    margin: 20px 0px;
    padding: 15px;
    text-align: center;
}

.submit-button {
    border: none;
    color: gray;
    background-color: lightgray;
    padding: 10px 40px;
    border-radius: 5px;
}