/********* all start *********/
body {
    font-family: "Noto Sans Bengali", "SoalimanLipi", sans-serif;
    background-color: #f9f9f9;
}
/********* all end *********/


/********* Navbar start *********/
.customNavbar {
    background-color: white;
}

.navbar-brand img {
    width: 100px;
    margin-top: 3px;
}

.searchBox {
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    margin-right: 30px;
}

.searchBox input {
    border: none;
}

.bi-search {
    border-color: transparent;
}

.navText {
    color: rgb(235, 23, 99) !important;
}

@media only screen and (max-width: 768px) {
    .customNavbar {
        background-color: rgb(235, 23, 99);
        color: white;
    }

    .navbar-toggler {
        background-color: white;
    }

    .bi-search {
        color: white;
    }
}
/********* Navbar end *********/
/* ফ্রীল্যান্সার খুঁজুন start */
.freelancer {
    border-bottom: 1px ridge;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
    
    border: 1px solid lightgray;
    
}
.freelancer {
    /* margin: 10px; */
    margin-top: 100px;
}
.search-freelancer {
    
    
    background-color: white;
    border-bottom: 1px solid gray
    
}
.keyword {
    padding-left: 35px;
    padding-top: 10px;
}
.keyword-all {
    padding-top: 10px;
    padding-left: 25px;
}
.keyword-count {
    padding-left: 25px;
}

.search-box {
    padding: 5px 10px;
    border: 1px solid black;
}
.search-box1 {
    padding: 5px 80px;
    border: 1px solid black;
}

.search-box2 {
    padding: 5px 50px;
    border: 1px solid black;
}
.search-box3 {
    padding: 5px 30px;
    border: 1px solid black;
}
.search-4 {
    padding-left: 20px;
}
.search-box4 {
    padding: 5px 40px;
    border: 1px solid black;
    padding-left: 35px;
}
.hours-rate {
    padding: 4px 25px;
    
}

.freelancer-search {
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 5px 15px;
}
.freelancer-search:hover {
    background-color: white;
    color: rgb(235, 23, 99);;
}

.freelancer-clear {
    color: rgb(235, 23, 99);
    background-color: transparent;
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 5px 0px;
    
}
.freelancer-clear:hover {
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 5px 0px;
}
.sorting {
    border: 1px solid black;
    padding: 5px 15px;
}
.find-profile {
    border-bottom: 1px solid gray;
    padding: 10px;
}
.profile-section {
    border: 1px solid gray;
    margin: 10px 0px;
    background-color: white;
    margin-top: 60px;
    
}
.profile-image {
    height: 100px;
    width: 100px;
    /* padding: 5px; */
    padding-right: 20px;
}
.profile-data {
    padding: 10px;
    padding-left: 20px;
}
.profile-body {
    margin: 20px;
    margin-left: 0px;
    
}
.profile-details {
    margin-top: 10px;
}
.hr {
    color: gray;
    margin: 20px;
}
.freelancer-searchB {
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
    
}
.freelancer-searchB:hover {
    background-color: white;
    color: rgb(235, 23, 99);;
}


/********* Footer start *********/
footer {
    background-color: dimgrey;
    color: white;
}

.footer-brand {
    padding: 15px;
}

.row-footer {
    display: flex;
    font-size: 14px;
    padding: 45px;
}

.footerA {
    text-align: right;
    padding: 15px;
}

.footerA h5 {
    font-size: 18px;
}

.row-footer :hover {
    color: rgb(235, 23, 99);
    text-decoration: none;
}

.color {
    color: white;
    text-align: center;
}

.footer-last {
    font-size: 15px;
    padding: 15px;
    justify-content: center;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: white;
    color: dimgrey;
    font-weight: 500;
}

.fa-linkedin {
    background: white;
    color: dimgrey;
/********* Footer end *********/