/********* all start *********/
body {
    font-family: "Noto Sans Bengali", "SoalimanLipi", sans-serif;
    background-color: #f9f9f9;
}
/********* all end *********/


/********* Navbar start *********/
.customNavbar {
    background-color: white;
}

.navbar-brand img {
    width: 100px;
    margin-top: 3px;
}

.searchBox {
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    margin-right: 30px;
}

.searchBox input {
    border: none;
}

.bi-search {
    border-color: transparent;
}

.navText {
    color: rgb(235, 23, 99) !important;
}

@media only screen and (max-width: 768px) {
    .customNavbar {
        background-color: rgb(235, 23, 99);
        color: white;
    }

    .navbar-toggler {
        background-color: white;
    }

    .bi-search {
        color: white;
    }
}
/********* Navbar end *********/


/******** Job-details start ********/

.jobDetails {
    margin-top: 50px;
}
.jobBtn {
    border-radius: 3px;
    background-color: rgb(235, 23, 99);
    border: none;
    color: white;
}
.headerBox {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    text-align: center;
    padding: 30px 0px;
}
.rightText {
    text-align: right;
}
.kajerDetailsBox {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    text-align: center;
    padding: 30px 0px;
}
.topDiv {
    border-bottom: 5px solid;
}
.kajerDetails {
    text-align: left;
    margin-left: 30px;
}
.link {
    color: rgb(235, 23, 99);
}
.skillTex {
    text-align: left;
    margin-left: 30px;
}
.textBack span {
    background-color: gray;
}
.picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.infoEmploy {
    text-align: center;
}


/******** Job-details end ********/


/********* Footer start *********/
footer {
    background-color: dimgrey;
    color: white;
}

.footer-brand {
    padding: 15px;
}

.row-footer {
    display: flex;
    font-size: 14px;
    padding: 45px;
}

.footerA {
    text-align: right;
    padding: 15px;
}

.footerA h5 {
    font-size: 18px;
}

.row-footer :hover {
    color: rgb(235, 23, 99);
    text-decoration: none;
}

.color {
    color: white;
    text-align: center;
}

.footer-last {
    font-size: 15px;
    padding: 15px;
    justify-content: center;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: white;
    color: dimgrey;
    font-weight: 500;
}

.fa-linkedin {
    background: white;
    color: dimgrey;
}
/********* Footer end *********/