/* Navbar start */
/* Navbar end */

/* Header start */
.header {
    margin: 0px 0px;
    position: relative;
    background: rgba(0, 0, 0, 0) url("/img/home/header/header.png") no-repeat scroll center center / cover;
    text-align: left;
    height: 600px;
    text-align: center;
    padding: 100px;
}
.headerBtn {
    width: 20%;
    height: 45px;
    background-color:rgb(235, 23, 99);
    border-color: rgb(235, 23, 99);
    border-radius: 5px;
    color: white;
    margin: 10px;
}
.headerBtn:hover {
    background-color: whitesmoke;
    color:rgb(235, 23, 99);
    border-color: rgb(235, 23, 99);
}
.textH1{
    padding: 50px;    
}
.jobPicture {
    padding: 120px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.hireCard {
    border: none;
    text-align: center;
}
.hireBox {
    padding: 50px;
}


/* Header end */

/* কিভাবে ফ্রিল্যান্সার হায়ার করবেন? start */
/* কিভাবে ফ্রিল্যান্সার হায়ার করবেন? end */

/* লেটেস্ট মাইক্রোজবস start */
/* লেটেস্ট মাইক্রোজবস end */

/* জব ক্যাটেগরীজ start */
.container {
    margin-bottom: 30px;
}

.job-category-title {
    text-align: center;
    margin: 70px;
    color: gray;
}

.job-category-cart {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px;
    height: 200px; 
}

.job-category-cart img {
    height: 120px;
    padding: 25px;
}

.button-div{
    text-align: center;
    margin: 50px;
}
.pink-button{
    color: rgb(235, 23, 99);
    background-color: transparent;
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 15px 25px;
}

.pink-button:hover{
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 15px 25px;
}

.freelencer {
    text-align: center;
    margin: 50px;
}

/* জব ক্যাটেগরীজ end */

/* ফ্রিল্যান্স কাজ ব্রাউজ করুন start */
/* ফ্রিল্যান্স কাজ ব্রাউজ করুন end */

/* নিজের সেট করা বাজেটের মধ্যে সেরা ফ্রিল্যান্সার দিয়ে কাজ করিয়ে নেওয়ার এখনই সুযোগ! start */

/* নিজের সেট করা বাজেটের মধ্যে সেরা ফ্রিল্যান্সার দিয়ে কাজ করিয়ে নেওয়ার এখনই সুযোগ! end */

/* Footer start */
footer {
    background-color: dimgrey;
    color: white;
}
.footer-brand {
    padding: 15px;
}
.row-footer {
    display: flex;
    font-size: 14px;
    padding: 45px;
    
}
.footerA {
    text-align: right;
    padding: 15px;
    
}
.footerA h5 {
    font-size: 18px;
}
.row-footer :hover {
    color: rgb(235, 23, 99);
    text-decoration: none;
}
.color {
    color: white;
    text-align: center;
}
.footer-last {
    font-size: 15px;
    padding: 15px;
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: white;
    color: dimgrey;
    font-weight: 500;
    
  }
  
  .fa-linkedin {
    background: white;
    color: dimgrey;
  }

/* Footer end */