/********* all start *********/
body {
    font-family: "Noto Sans Bengali", "SoalimanLipi", sans-serif;
    background-color: #f9f9f9;
}
/********* all end *********/


/********* Navbar start *********/
.customNavbar {
    background-color: white;
}

.navbar-brand img {
    width: 100px;
    margin-top: 3px;
}

.searchBox {
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    margin-right: 30px;
}

.searchBox input {
    border: none;
}

.bi-search {
    border-color: transparent;
}

.navText {
    color: rgb(235, 23, 99) !important;
}

@media only screen and (max-width: 768px) {
    .customNavbar {
        background-color: rgb(235, 23, 99);
        color: white;
    }

    .navbar-toggler {
        background-color: white;
    }

    .bi-search {
        color: white;
    }
}
/********* Navbar end *********/


/********* Header start *********/
.header {
    margin: 0px 0px;
    position: relative;
    background: rgba(0, 0, 0, 0) url("../img/home/header/header.png") no-repeat scroll center center / cover;
    height: 600px;
    text-align: center;
}

.headerBtn {
    width: 20%;
    height: 45px;
    background-color:rgb(235, 23, 99);
    border-color: rgb(235, 23, 99);
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.headerBtn:hover {
    background-color: whitesmoke;
    color:rgb(235, 23, 99);
    border-color: rgb(235, 23, 99);
}
/********* Header end *********/


/********* কিভাবে ফ্রিল্যান্সার হায়ার করবেন? start *********/
.textH1{
    padding: 50px;
    margin-top: 15px;  
}

.jobPicture {
    width: 80px;
    margin: 0 auto;
}

.hireCard {
    border: none;
    text-align: center;
    background-color: transparent;
}

.hireBox {
    padding: 50px;
}
/********* কিভাবে ফ্রিল্যান্সার হায়ার করবেন? end *********/


/********* লেটেস্ট মাইক্রোজবস start *********/
.microJobCardHead {
    text-decoration: none;
}

.microJobCardHead:hover {
    background-color: #e9b5c7;
}

.microJobCardTitle h5 {
    color: rgb(100, 98, 98);
}

.microJobCardTitle h5:hover {
    text-decoration: none !important;
}

.microJob {
    margin-bottom: 30px !important;
}
/********* লেটেস্ট মাইক্রোজবস end *********/


/********* জব ক্যাটেগরীজ start *********/
.container {
    margin-bottom: 30px;
}

.job-category-title {
    text-align: center;
    margin: 70px;
}

.job-category-cart {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 16px;
    height: 170px;
    background-color: white; 
}

.job-category-cart img {
    height: 100px;
    padding: 25px;
}

.job-category-cart:hover {
    text-align: center;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 16px;
    height: 170px; 
    background-color: lightgray;
}

.button-div{
    text-align: center;
    margin: 50px;
}

.pink-button{
    color: rgb(235, 23, 99);
    background-color: transparent;
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 15px 25px;
}

.pink-button:hover{
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 15px 25px;
}
/********* জব ক্যাটেগরীজ end *********/


/********* ফ্রিল্যান্স কাজ ব্রাউজ করুন start *********/
.new {
   border: 8px solid #f9f9f9; 
   bottom: 8px;
   padding: 15px;
   background-color: white;
}

.button-d{
    text-align: center;
    margin: 1px;
}

.p-button{
    color: rgb(235, 23, 99);
    background-color: transparent;
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 2px;
    padding: 4px;
}

.p-button:hover{
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 2px;
    padding: 4px;
}
/********* ফ্রিল্যান্স কাজ ব্রাউজ করুন end *********/


/********* নিজের সেট করা বাজেটের মধ্যে সেরা ফ্রিল্যান্সার দিয়ে কাজ করিয়ে নেওয়ার এখনই সুযোগ! start *********/
.freelancer {
    text-align: center;
    margin: 50px;
}
/********* নিজের সেট করা বাজেটের মধ্যে সেরা ফ্রিল্যান্সার দিয়ে কাজ করিয়ে নেওয়ার এখনই সুযোগ! end *********/


/********* Footer start *********/
footer {
    background-color: dimgrey;
    color: white;
}

.footer-brand {
    padding: 15px;
}

.row-footer {
    display: flex;
    font-size: 14px;
    padding: 45px;
}

.footerA {
    text-align: right;
    padding: 15px;
}

.footerA h5 {
    font-size: 18px;
}

.row-footer :hover {
    color: rgb(235, 23, 99);
    text-decoration: none;
}

.color {
    color: white;
    text-align: center;
}

.footer-last {
    font-size: 15px;
    padding: 15px;
    justify-content: center;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: white;
    color: dimgrey;
    font-weight: 500;
}

.fa-linkedin {
    background: white;
    color: dimgrey;
}
/********* Footer end *********/
