/* Navbar start */
/* Navbar end */

/* Header start */
.header {
    margin: 0px 0px;
    position: relative;
    background: rgba(0, 0, 0, 0) url("/img/home/header/header.png") no-repeat scroll center center / cover;
    text-align: left;
    height: 600px;
    text-align: center;
    padding: 100px;
}
.headerBtn {
    width: 20%;
    height: 45px;
    background-color:rgb(235, 23, 99);
    border-color: rgb(235, 23, 99);
    border-radius: 5px;
    color: white;
    margin: 10px;
}
.headerBtn:hover {
    background-color: whitesmoke;
    color:rgb(235, 23, 99);
    border-color: rgb(235, 23, 99);
}
.textH1{
    padding: 50px;    
}
.jobPicture {
    padding: 120px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.hireCard {
    border: none;
    text-align: center;
}
.hireBox {
    padding: 50px;
}


/* Header end */

/* কিভাবে ফ্রিল্যান্সার হায়ার করবেন? start */
/* কিভাবে ফ্রিল্যান্সার হায়ার করবেন? end */

/* লেটেস্ট মাইক্রোজবস start */
/* লেটেস্ট মাইক্রোজবস end */

/* জব ক্যাটেগরীজ start */
/* জব ক্যাটেগরীজ end */

/* ফ্রিল্যান্স কাজ ব্রাউজ করুন start */
/* ফ্রিল্যান্স কাজ ব্রাউজ করুন end */

/* নিজের সেট করা বাজেটের মধ্যে সেরা ফ্রিল্যান্সার দিয়ে কাজ করিয়ে নেওয়ার এখনই সুযোগ! start */
/* নিজের সেট করা বাজেটের মধ্যে সেরা ফ্রিল্যান্সার দিয়ে কাজ করিয়ে নেওয়ার এখনই সুযোগ! end */

/* Footer start */
/* Footer end */