/********* all start *********/
body {
    font-family: "Noto Sans Bengali", "SoalimanLipi", sans-serif;
    background-color: #f9f9f9;
}
/********* all end *********/


/********* Navbar start *********/
.customNavbar {
    background-color: white;
}

.navbar-brand img {
    width: 100px;
    margin-top: 3px;
}

.searchBox {
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    margin-right: 30px;
}

.searchBox input {
    border: none;
}

.bi-search {
    border-color: transparent;
}

.navText {
    color: rgb(235, 23, 99) !important;
}

@media only screen and (max-width: 768px) {
    .customNavbar {
        background-color: rgb(235, 23, 99);
        color: white;
    }

    .navbar-toggler {
        background-color: white;
    }

    .bi-search {
        color: white;
    }
}
.nav-item img{
    width: 55px;
}
.logo-chat {
    margin-top: 8px;
}
.logo-notification {
    margin-left: 30px;
    margin-top: 8px;
}
.logo-profilePicture {
    margin-left: 15px;
}
.user-name {
    margin-top: 15px;
}
/********* Navbar end *********/

.my-jobs {
    margin-top: 100px;
}
.my-work {
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
}
.work-button1 {
    background-color: lightgray;
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
}
.work-button2 {
    background-color: lightgray;
    border: none;
    margin-top: 5px;
    background-color: rgb(235, 23, 99);
    padding: 5px 10px;
    color: white;
}
.freelancer-clear {
    color: rgb(235, 23, 99);
    background-color: transparent;
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px ;
    padding: 5px 40px;
    margin-top: 45px;
    
}
.freelancer-clear:hover {
    color: white;
    background-color: rgb(235, 23, 99);
    border: rgb(235, 23, 99) solid 2px;
    border-radius: 5px;
    padding: 5px 40px;
}
.search-box {
    padding: 5px 100px;
    border: 1px solid lightgray;
}
.job-keyword {
    padding-left: 30px;

}

.work-details {
    border: 1px solid lightgray;
    border-top: none;
    margin: 0px;
    padding: 15px;
    background-color: white;

}
.search-box1 {
    padding: 5px 10px;
    border: 1px solid lightgray;
}
.job-content {
    border: 1px solid lightgray;
    margin-top: 50px;
    background-color: #f9f9f9;
}
.job-details {
    padding: 8px;
    padding-top: 20px;
    
}
.job-ftr {
    border: 1px solid lightgray;
    padding: 15px;
    background-color: white;
    border-top: none;
}



/********* Footer start *********/
footer {
    background-color: dimgrey;
    color: white;
    margin-top: 100px;
}

.footer-brand {
    padding: 15px;
}

.row-footer {
    display: flex;
    font-size: 14px;
    padding: 45px;
}

.footerA {
    text-align: right;
    padding: 15px;
}

.footerA h5 {
    font-size: 18px;
}

.row-footer :hover {
    color: rgb(235, 23, 99);
    text-decoration: none;
}

.color {
    color: white;
    text-align: center;
}

.footer-last {
    font-size: 15px;
    padding: 15px;
    justify-content: center;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: white;
    color: dimgrey;
    font-weight: 500;
}

.fa-linkedin {
    background: white;
    color: dimgrey;
/********* Footer end *********/